<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}ECS639 Web Programming - Group CW Template{% endblock %}</title>
</head>

<body>
    <div id="app">
        {% block content %}
        {% endblock %}
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>